Hello <%= @follower.first_name %>,
Goal Name: <%= @goal.goal_name %>
<%= @owner %> has reached his/her goal. Jealous? Cut your expenses and save more next month!
Regards,
Savvy Saver Team
<div class="image">
  <%= image_tag('file:///Users/Paul/codecore-bootcamp/rails/savvy_saver/app/assets/images/uncle-sam-save.jpg') %>
</div>
