<p>Hello <%= @follower.first_name %>,</p>
<p>Goal Name: <%= @goal.goal_name %></p>
<h2><%= @owner %> has reached his/her goal. Jealous? Cut your expenses and save more next month!</h2>
<div class="image">
  <%= image_tag('file:///Users/Paul/codecore-bootcamp/rails/savvy_saver/app/assets/images/uncle-sam-save.jpg') %>
</div>
<p>Regards,</p>
<p>Savvy Saver Team</p>
