<html>
  <head>
    <title>Web Winder JavaScript Calculators: Retirement Savings Calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="GENERATOR" content="User-Agent: Mozilla/3.01Gold (Macintosh; I; PPC)">

    <style type="text/css">
    <!--

    }

    -->
  </style>
  </head>
    <div class="smpc-div" id="retirementcalc">
      <form method="post" id="retirement_calculator_form">
        <div class="form-group">
            <label for="principal">Enter the amount you would like to withdraw each month in retirement ($):</label>
            <input type="text" name="principal" id="principal" />
        </div>
        <div class="form-group">
          <label for="interest">Enter the Annual Interest Rate you expect to earn on your savings (%):</label>
          <input type="text" name="interest" />
        </div>
        <div class="form-group">
          <label for="payments">Enter the number of years you would like to make the monthly withdrawals:</label>
          <input type="text" name="payments" />
        </div>
        <div class="form-group">
          <input type="button" value="Calculate" onClick=computeForm(this.form) name="button" class="btn btn-success btn-xs"/>
          <input type="reset"  value="Reset" onClick=clearForm(this.form) name="reset" class="btn btn-warning btn-xs"/>
        </div>
        <div class="form-group">
          <label for="pv">This is how much you need to have saved by the time you retire ($):</label>
          <p id="pv" class="smpc-monthlypayment"></p>
        </div>
      </form>
    </div>
