<% @users.each do |user| %>
  <div id="user" class="col-md-4 text-center search-users">
    <div id="user-image">
      <% if user.profile.avatar.present? %>
        <%= image_tag(user.profile.avatar.url(:normal), class: "img-circle", style: "width: 200px; height: 200px") %>
      <% else %>
        <%= link_to image_tag(ref="user.jpg", :class => "img-circle", style: "width: 200px; height: 200px"), user_path(user) %><br>
      <% end %>
    </div>
    <h4><%= link_to user.full_name, user_path(user) %></h4>
    <br>
    <a href="/users/<%= user.id %>"><button class="btn btn-success btn-custom">View Profile</button></a>
  </div>
<% end %>
