<div class="home-bg"></div>
<div class="container">
  <div class="jumbotron">
    <div class="text-center"><h1 class="jumbotron-text" id="app-title">Savvy Saver</h1></div>
    <div class="text-center"><h1 class="jumbotron-text">reach your goals</h1></div>
    <div class="col-md-6 col-sm-6 text-center button-left">
      <a class="btn signin" data-toggle="modal" data-target="#signInModal">Check Your Progress</a>
    </div>
    <div class="col-md-6 col-sm-6 text-center button-right">
      <a class="btn signup" data-toggle="modal" data-target="#signUpModal">Start Saving</a>
    </div>
  </div>
</div>

<div id="about" class="container">
  <h2 class="text-center">About Me</h2>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <%= image_tag "me.jpg", :size => "400x300" %>
    </div>
    <div class="col-md-8 col-sm-12">
      <h3>Name: Paul Lam</h3>
      <p>Junior Full Stack Web Developer, financial technology enthusiast and aspiring tennis-player. I specialize in Ruby on Rails, HTML, CSS, JavaScript, Node.js, and Bootstrap. Logical thinker with an innovative approach to problems backed up by critical thinking skills acquired from previous experience in business. Open to new opportunities.</p>
      <p>It is my personal belief that everybody, no matter which industry you work in, should have a basic understanding of their personal finances. Nobody watches out for your money better than yourself. It is my hope that this web application will help shed some light and guide users to finding meaningful takeaways from their personal financial data.</p>
    </div>
  </div>
</div>
